{% extends "shared/layout.html" %}
{% block body %}
<div class="stepwizard">
    <div class="stepwizard-row">
        <div class="stepwizard-step">
            <button type="button" class="btn btn-default btn-circle">1</button>
            <p>Cart</p>
        </div>
        <div class="stepwizard-step">
            <button type="button" class="btn btn-primary btn-circle">2</button>
            <p>Shipping</p>
        </div>
        <div class="stepwizard-step">
            <button type="button" class="btn btn-default btn-circle" disabled="disabled">3</button>
            <p>Payment</p>
        </div>
    </div>
</div>


    <form class="form-horizontal" action="/add_meal" method="POST">
    <fieldset>

        <!-- Form Name -->
        <legend>Add A Meal</legend>

        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="">Name of Meal</label>
            <div class="col-md-4">
                <input id="" name="food_name" type="text" placeholder="Enter name" class="form-control input-md" required="">
                <span class="help-block">Enter the name of your food (include any details)</span>
            </div>
        </div>

        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="">Serving Size</label>
            <div class="col-md-4">
                <input id="serving_size_label" name="serving_size_input" type="text" placeholder="Enter Numeric Serving Size" class="form-control input-md">
                <span class="help-block">Enter the serving size value of food (grams, ounces, etc...)</span>
            </div>
        </div>

        <!-- Select Basic -->
        <div class="form-group">
            <label class="col-md-4 control-label" for="select_units">Measurements</label>
            <div class="col-md-4">
                <select id="select_units" name="select_units" class="form-control">
                    <option value="grams">grams</option>
                    <option value="ounces">ounces</option>

                </select>
            </div>
        </div>

        <!-- Button (Double) -->
        <div class="form-group">
            <label class="col-md-4 control-label" for="submit_button"></label>
            <div class="col-md-8">
                <button id="submit_button" name="submit_button" class="btn btn-success">Submit</button>
                <button id="cancel_button" name="cancel_button" class="btn btn-danger">Cancel</button>
            </div>
        </div>

    </fieldset>
    </form>

{% endblock %}
