{% extends "shared/layout.html" %}
{% block body %}
<div class="row">
    <div class="col-xs-6">
        <form action="/add_meal" method="GET">
            <button class="btn btn-default">Create a new Meal Item</button>
        </form>
    </div>
</div>
<br/>
<div class="list-group">
    {% for m in meals %}
    {% set rowloop = loop %}
        <a href="#" class="list-group-item list-group-item-action">
            <h5 class="list-group-item-heading">Meal {{ rowloop.index  }}</h5>
            <p class="list-group-item-text">Meal: {{ m.meal_name  }}</p>
            <p class="list-group-item-text">Foods:
                {% for f in m.foods %}
                    {{ f.food_name }},
                {% endfor %}
            </p>
        </a>
    {% endfor %}
</div>

{% endblock %}
