{% extends "shared/layout.html" %}
{% block head %}
    {% include "scripts/theme-css.html" %}
    {% include "scripts/datatables-css.html" %}
    {% include "scripts/datepicker-css.html" %}
{% endblock %}
{% block body %}

    <h2>{{ user.user_name }}'s Log</h2>

    <div class="row">
        <div class="col-xs-6">
            <button class="btn btn-default">Log a new meal</button>
            <button class="btn btn-default">Remove meal from log</button>
        </div>
        <form action="/log/" method="GET"
              onsubmit="location.href = this.action + $('#date-picker').val(); return false;">
            <div class="col-xs-offset-2 col-xs-4">
                <input id="date-picker" class="input-append" data-date="12/03/2012">
                <button class="btn btn-default">Change Date</button>
            </div>
        </form>
    </div>
    <br/>

    <div class="list-group">
        {% for log in logs %}
            {% set rowloop = loop %}
            {% for m in log.meals %}
                <a href="#" class="list-group-item list-group-item-action">
                    <h5 class="list-group-item-heading">Meal {{ rowloop.index  }}</h5>
                    <p class="list-group-item-text">Time: {{ log.meal_eaten_date  }}</p>
                    <p class="list-group-item-text">Meal: {{ m.meal_name  }}</p>
                    <p class="list-group-item-text">Foods:
                        {% for f in m.foods %}
                            {{ f.food_name }},
                        {% endfor %}
                    </p>
                </a>
            {% endfor %}
        {% endfor %}
    </div>

{% endblock %}
{% block scripts %}

    {% include "shared/scripts.html" %}
    {% include "scripts/theme-js.html" %}
    {% include "scripts/datatables-js.html" %}
    {% include "scripts/datepicker-js.html" %}
    <script type="text/javascript">
        {% include "meal_planning/js/log.js" %}
    </script>
{% endblock %}

