{% block head %}
    <link rel="stylesheet" type="text/css" href="/static/datatables/DataTables-1.10.12/css/dataTables.bootstrap.min
.css"/>
    <link rel="stylesheet" type="text/css" href="/static/datatables/AutoFill-2.1.2/css/autoFill.bootstrap.css"/>
    <link rel="stylesheet" type="text/css"
          href="/static/datatables/Buttons-1.2.2/css/buttons.bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/static/datatables/FixedColumns-3.2.2/css/fixedColumns.bootstrap
.min
.css"/>
    <link rel="stylesheet" type="text/css" href="/static/datatables/FixedHeader-3.1.2/css/fixedHeader.bootstrap.min
.css"/>
    <link rel="stylesheet" type="text/css"
          href="/static/datatables/KeyTable-2.1.3/css/keyTable.bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/static/datatables/Responsive-2.1.0/css/responsive.bootstrap.min
.css"/>
    <link rel="stylesheet" type="text/css" href="/static/datatables/RowReorder-1.1.2/css/rowReorder.bootstrap.min
.css"/>
    <link rel="stylesheet" type="text/css"
          href="/static/datatables/Scroller-1.4.2/css/scroller.bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/static/datatables/Select-1.2.0/css/select.bootstrap.min.css"/>

{% endblock %}

