{% block scripts %}

<script type="text/javascript" src="/static/datatables/DataTables-1.10.12/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="/static/datatables/DataTables-1.10.12/js/dataTables.bootstrap.min
.js"></script>
<script type="text/javascript" src="/static/datatables/AutoFill-2.1.2/js/dataTables.autoFill.min.js"></script>
<script type="text/javascript" src="/static/datatables/AutoFill-2.1.2/js/autoFill.bootstrap.min.js"></script>
<script type="text/javascript" src="/static/datatables/Buttons-1.2.2/js/dataTables.buttons.min.js"></script>
<script type="text/javascript" src="/static/datatables/Buttons-1.2.2/js/buttons.bootstrap.min.js"></script>
<script type="text/javascript" src="/static/datatables/Buttons-1.2.2/js/buttons.colVis.min.js"></script>
<script type="text/javascript" src="/static/datatables/Buttons-1.2.2/js/buttons.flash.min.js"></script>
<script type="text/javascript" src="/static/datatables/Buttons-1.2.2/js/buttons.html5.min.js"></script>
<script type="text/javascript" src="/static/datatables/FixedColumns-3.2.2/js/dataTables.fixedColumns.min
.js"></script>
<script type="text/javascript" src="/static/datatables/FixedHeader-3.1.2/js/dataTables.fixedHeader.min
.js"></script>
<script type="text/javascript" src="/static/datatables/KeyTable-2.1.3/js/dataTables.keyTable.min.js"></script>
<script type="text/javascript" src="/static/datatables/Responsive-2.1.0/js/dataTables.responsive.min
.js"></script>
<script type="text/javascript" src="/static/datatables/Responsive-2.1.0/js/responsive.bootstrap.min
.js"></script>
<script type="text/javascript" src="/static/datatables/RowReorder-1.1.2/js/dataTables.rowReorder.min
.js"></script>
<script type="text/javascript" src="/static/datatables/Scroller-1.4.2/js/dataTables.scroller.min.js"></script>
<script type="text/javascript" src="/static/datatables/Select-1.2.0/js/dataTables.select.min.js"></script>

{% endblock %}
