<script src="/static/themes/sb-admin2/dist/js/sb-admin-2.js"></script>

<script src="/static/metismenu/dist/metisMenu.min.js"></script>

<script src="/static/raphael/raphael.min.js"></script>
<script src="/static/morris.js/morris.min.js"></script>
{#<script src="/static/themes/sb-admin2/js/sb-admin-2.js"></script>#}
