<link rel="stylesheet" href="/static/bootstrap/dist/css/bootstrap.min.css">
<link href="/static/themes/sb-admin2/dist/css/sb-admin-2.css" rel="stylesheet">
<link href="/static/themes/sb-admin2/dist/css/timeline.css" rel="stylesheet">
<link href="/static/metisMenu/dist/metisMenu.min.css" rel="stylesheet">
<link href="/static/morris.js/morris.css" rel="stylesheet">
<link href="/static/font-awesome/css/font-awesome.min.css" rel="stylesheet">
