{% extends "shared/layout.html" %}
{% block body %}
    <form class="form-horizontal" action="/add_food" method="POST">
    <fieldset>

        <!-- Form Name -->
        <legend>Add A Food</legend>

        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="">Name of Food</label>
            <div class="col-md-4">
                <input id="" name="food_name" type="text" placeholder="Enter name" class="form-control input-md" required="">
                <span class="help-block">Enter the name of your food (include any details)</span>
            </div>
        </div>

        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="">Serving Size</label>
            <div class="col-md-4">
                <input id="serving_size_label" name="serving_size_input" type="text" placeholder="Enter Numeric Serving Size" class="form-control input-md">
                <span class="help-block">Enter the serving size value of food (grams, ounces, etc...)</span>
            </div>
        </div>

        <!-- Select Basic -->
        <div class="form-group">
            <label class="col-md-4 control-label" for="select_units">Measurements</label>
            <div class="col-md-4">
                <select id="select_units" name="select_units" class="form-control">
                    <option value="grams">grams</option>
                    <option value="ounces">ounces</option>

                </select>
            </div>
        </div>

        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="fat_input">Fat (in grams)</label>
            <div class="col-md-4">
                <input id="fat_input" name="fat_input" type="text" placeholder="" class="form-control input-md" required="">

            </div>
        </div>

        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="carbs_input">Carbs (in grams)</label>
            <div class="col-md-4">
                <input id="carbs_input" name="carbs_input" type="text" placeholder="" class="form-control input-md" required="">

            </div>
        </div>

        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="protein_input">Protein (in grams)</label>
            <div class="col-md-4">
                <input id="protein_input" name="protein_input" type="text" placeholder="" class="form-control input-md" required="">

            </div>
        </div>

        <!-- Button (Double) -->
        <div class="form-group">
            <label class="col-md-4 control-label" for="submit_button"></label>
            <div class="col-md-8">
                <button id="submit_button" name="submit_button" class="btn btn-success">Submit</button>
                <button id="cancel_button" name="cancel_button" class="btn btn-danger">Cancel</button>
            </div>
        </div>

    </fieldset>
    </form>

{% endblock %}
