{% extends "shared/layout.html" %}
{% block body %}
    <div class="row">
        <div class="col-xs-6">
            <form action="/add_food" method="GET">
                <button class="btn btn-default">Create a new Food Item</button>
            </form>
        </div>
    </div>
    <br/>
    <div class="list-group">
        {%  for item in foods %}
        <a href="#" class="list-group-item list-group-item-action">
            <h5 class="list-group-item-heading">{{ item.food_name }}</h5>
            <p class="list-group-item-text">Serving Size: {{ item.serving_size }} {{ item.units }}</p>
            <p class="list-group-item-text">Fat: {{ item.fat  }}</p>
            <p class="list-group-item-text">Carbs: {{ item.carbohydrates  }}</p>
            <p class="list-group-item-text">Protein: {{ item.protein  }}</p>
        </a>
        {% endfor %}
    </div>

{% endblock %}
