{% extends "shared/layout.html" %}
{% block body %}

    <ul>
        <li>{{ food.food_id }}</li>
        <li>{{ food.food_name }}</li>
        <li>{{ food.fat }}</li>
        <li>{{ food.carbohydrates }}</li>
        <li>{{ food.protein }}</li>
        <li>{{ food.serving_size }} {{ food.units }}</li>
    </ul>

{% endblock %}
